.profile {
  display: block;
  text-align: center;
}

.profile-section {
  display: block;
}

.information-section {
  display: block;
}

.buttons{
  display: inline-grid;
  margin-bottom: 10px;

}
.update-button{
    margin-bottom: 10px;
}

.delete-button{
  font-size: 16px;
  border: transparent;
  border-radius: 8px;
  background-color: var(--primary-red);
  color: white;
}
.saved-info-section {
  display: flex;
  justify-content: center;
}

.sub-info {
  width: 100%;
  display: block;
  text-align: center;
  margin-left: 10px;
  float: left;
  padding: 25px;
  background-color: darkgray;
  color: white;
}
