.dropdown {
  width: 500px;
  max-width: 100%;
  border-radius: 5px;
}

.questions-container {
  display: block;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
}

.checkbox-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox {
  width: 20px;
  height: auto;
  margin: 0;
}

input {
  background-color: black;
}
.option {
  font-size: 25px;
  margin-top: 18px;
}
.arrow-buttons {
  display: flex;
  margin-left: auto;
  margin-right: 0;
  padding-top: 30px;
  width: 600px;
}

.arrow-button {
  font-size: 18px;
  background-color: red;
  color: white;
  border-radius: 8px;
  border-color: transparent;
}
.home-address-field {
  display: flex;
  justify-content: center;
  width: 300px;
  font-size: 22px;
  max-width: 100%;
  border-radius: 8px;
  background-color: lightgray;
  color: black;
  border-color: transparent;
}
