.register {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.register-form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  font-size: 18px;
  padding-right: 10px;
}

.input-field-section{
  display: block;
}

.input-field {
  font-size: 16px;
  width: 100%;
  max-width: 100%;
  padding: 5px;
  background-color: lightgray;
  border-color: transparent;
  border-radius: 5px;
  margin: 10px 10px;
}

.register-label {
  padding-left: 10px;
}

.register-field {
  font-size: 18px;
  width: 250px;
  max-width: 100%;
  background-color: lightgray;
  border-color: transparent;
  border-radius: 5px;
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ddd;
}

.divider span {
  padding: 0 15px;
  color: #666;
  font-size: 14px;
}
.first-last-section {
  display: flex;
  margin: 10px 10px;
}

.register-link {
  text-align: center;
  color: black;
  margin-top: 10px;
}

.register-link a {
  color: #4a90e2;
  text-decoration: none;
}

.submit-button {
  background-color: lightgray;
  font-size: 16px;
  border: transparent;
  border-radius: 8px;
  padding: 10px 10px;
  cursor: pointer;
}
