.results {
  display: block;
  width: 100%;
}

.maps{
  width: 100%;
  height: 600px;
}

.results-title{
    display: flex;
    justify-content: center;
}

.results-section {
  display: block;
  justify-content: center;
}

.container {
  display: block;
}

h2 {
  margin: 0;
}
.individual-result {
  width: 100%;
  max-width: 100%;
  display: grid;
  justify-content: center;
  gap: 15px;
  background-color: lightgray;
  padding: 15px 15px;
}
