.google-button-section {
  display: flex;
  justify-content: center;
}

.google-button {
  display: flex;
  text-align: center;
  border-radius: 8px;
  border: transparent;
  background-color: var(--background-beige);
  transition-duration: 0.5s;
  cursor: pointer;
  padding: 10px 10px;
}

.google-button:hover{
    background-color: var(--primary-red);
    color: white;
}


.google-logo {
  font-size: 18px;
  padding-right: 10px;
  padding-top: 1px;
  color: darkgray;
}

.google-sentence {
  font-size: 18px;
  margin: 0;
}
