.navbar {
    background-color:var(--background-beige) ; 
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .navbar-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-link {
    color: var(--primary-red);
    text-decoration: none;
    font-size: 18px;
  }
  

  .navbar-title{
    color:var(--primary-red);
    text-decoration: none;

  }


  .logout-button{
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-red);
    color: #fff;
    padding: 4px ;
  }